* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.btn {
    display: inline-block;
    margin: 10px 10px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: #8a2be2;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #7a1be1;
}

.btn-primary {
    background-color: #db7093;
    border-color: #db7093;
}

.btn-primary:hover {
    background-color: #c06082;
}

.btn-warning {
    background-color: #3cb371;
    border-color: #3cb371;
}

.btn-warning:hover {
    background-color: #2e8b57;
}

.bgr {
    padding: 10vh;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgb(144, 137, 239);
 
}

.todo {
    width: 100%;
    height: fit-content;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.401);
    border-radius: 70px;
}

.top {
    padding: 32px 32px;
}

#prompt {
    user-select: none;
    font-size: 28px;
}

.text-bold {
    font-weight: bold;
}

ul {
    list-style: none;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    width: 100%;
    padding: 0;
}

li {
    width: 90%;
    padding: 12px 20px;
    background-color: #fff; 
    border-radius: 8px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    
}

.task-undone {
    color: black;
    text-decoration: none;
}

.task-done {
    background-color: #c8e6c9;
}

.task-done .task-text,
.task-done:hover .task-text {
    color: rgb(151, 151, 150);
    text-decoration: line-through;
}


.right-box {
    width: fit-content;
    min-width: 256px;
    max-width: 45%;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    align-items: center;
    justify-content: right;
    padding: 2px 2px;
}

.cross-btn {
    border: none;
    width: 16px;
    height: 16px;
    padding: 1px;
    background-image: url('https://www.svgrepo.com/show/80301/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: inherit;
}

.taskList-header {
    width: 98%;
    height: fit-content;
    border: 2px solid #d1c4e9;
    background: #9575cd;
    border-radius: 12px;
    display: flex;
    padding: 10px 16px;
    align-items: center;
    font-size: 20px;
    justify-content: left;
    user-select: none;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

input[type="radio"] {
    display: none;
}

.btn-grid-lower {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.dialog-hidden, .dialog-shown {
    display: none;
}

.dialog-shown {
    margin: 0;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
    background-color: rgba(145, 145, 145, 0.8);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dialog-container {
    padding: 32px 32px;
    min-width: 40%;
    min-height: 30%;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 253, 255);
    border-radius: 12px;
    column-gap: 32px;
    justify-content: center;
    align-items: center;
}

.dialog-content>button {
    border: none;
    border-radius: 5px;
    width: 128px;
    height: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-control {
    padding: 12px 12px;
    font-size: 16px;
    border-radius: 8px;
}

.list-group {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px 0;
}

.dialog-content {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

.hidden {
    display: none;
}
