
.browse-section {
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 96px;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
  }
  
  .searchbar {
    width: 60%;
    padding: 12px;
    border: 1px solid var(--primary-dark);
    border-radius: var(--radius-medium);
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
  }
  
  .hotel-cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    width: 100%;
    margin-top: 20px;
  }
  
  .hotel-card {
    background-color: var(--white);
    border-radius: var(--radius-medium);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    row-gap: 10px;
  }
  
  .hotel-card:nth-child(1) {
    grid-column: 1 / 4;
  }
  
  .hotel-card:nth-child(2) {
    grid-column: 4 / 7;
  }
  
  .hotel-card:nth-child(3) {
    grid-column: 7 / 10;
  }
  
  .hotel-card:nth-child(4) {
    grid-column: 10 / 13;
  }